@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #FFF4E9;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.text-color-brown{
    color: #201408;
}
.text-color-orange{
    color: #FF7B00;
}
.navHover:hover{
    color: #FF7B00;
}
.bg_Primary{
    background-color: #FFF4E9;
}
.bg-light-brown{
    background-color: #E6CFBA;
}
.bg-dark-brown{
    background-color: #201408;
}
.bg-dark-brown2{
    background-color: #2014081a;
}
.btn-bg-brown{
    background-image: url("./assets/Rectangle54.png");
    background-position: center;
    background-size: cover;
}
.btn-bg-orange{
    background-image: url("./assets/Rectangle55.png");
    background-position: center;
    background-size: cover;
}
.orange__gradient {
    background: linear-gradient(90deg, #d47923 0%, #FF7B00 100%);
    filter: blur(110px);
}
.brown__gradient {
    background: linear-gradient(90deg, #201408 0%, #201408 100%);
    filter: blur(110px);
  }
.navlinks{
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 1.4rem 1.7rem 1.4rem ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.241);
}

/* Define a custom style for the placeholder text */
.custom-input::placeholder {
    color: #201408; 
    opacity: 0.66;
  }
  
.card_border{
    border: 1px solid #201408;
    transition: 0.5s;
}
.HomeHabesha{
    box-shadow: 3px 3px 8px #20140834;
    
}

.sidebar{
    box-shadow: 4px 0px 8px rgba(39, 39, 39, 0.11);
}
.menuAnime{
    animation: menuAnime .2s forwards linear ;
    opacity: 0;
    transform: translateX(-1rem);
}
@keyframes menuAnime{
    100%{
        opacity: 1;
        transform: translateX(0); 
    }
}
